@import "./normalize.scss";
@import "./vars.scss";
@import "./fonts.scss";
@import "./swiper.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font-family: "Montserrat";
  background-color: #f4f8ff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

.error-text {
  color: var(--red-400) !important;
}

.success-text {
  color: var(--green) !important;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
