@import "./normalize.scss";
@import "./vars.scss";
@import "./fonts.scss";
@import "./swiper.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font-family: "Montserrat";
  background-color: #f4f8ff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

.error-text {
  color: var(--red-400) !important;
}

.success-text {
  color: var(--green) !important;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;               /* ширина scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid var(--dark-gray);  /* padding вокруг плашки */
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
