@import "./normalize.scss";
@import "./vars.scss";
@import './fonts.scss';
@import './swiper.scss';

body {
    color: var(--dark);
    font-family: "Montserrat";
    transition: background-color linear .5s;
}