:root {
    --dark: #262626;
    --gray: #B1B2B4;
    --gray-100: #F2F4F5;
    --background: #F7F7F7;
    --white: #FFFFFF;
    --blue: #0064FA;
    --blue-100: #EBF3FF;
    --blue-200: #D6E7FF;
    --default-border: 15px;
    --input-border: 8px;
    --dark-gray: #7D7F82;
    --gray-200: #E9EAEB;
    --gray-400: #D0D1D2;
    --red-400: #D64657;
    --red-300: #E6909A;
    --red-200: #F3C8CD;
    --red-100: #F7E6E8;
    --green: #00CC5E;
    --star-color: #FFC555;
    --system-light-grey: #EFEFEF;
    --mobile-default-border: 12px;
}