.layout {
    .main {
        position: absolute;
        width: calc(100% - 248px);
        right: 0;
        top: 65px;
        padding: 16px;
    }

    .extra {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: fixed;
        background-color: var(--green);
        z-index: 10;
        right: 40px;
        bottom: 40px;
        cursor: pointer;
        padding: 16px;
    }
}


@media screen and (max-width: 768px) {
    .layout {
        .container {
            .main {
                display: block;
                width: 100vw;
                padding: 0;
                position: static;
                top: 0;
                right: 0;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .layout {
        .main {
            width: calc(100vw - 116px);
            padding: 20px;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .layout {
        .main {
            position: absolute;
            width: 100%;
        }
    }
}