.main {
  width: 100%;
  padding: 16px;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: calc(65px + 16px);

  @media (min-width: 1024px) {
    padding-left: calc(100px + 16px);
  }

  @media (min-width: 1280px) {
    padding-left: calc(256px + 16px);
  }

  @media(max-width: 1024px) {
    padding-bottom: calc(70px + 16px);
  }

  &.white {
    background-color: #fff;
  }

  &.blue {
    background-color: #f5f8fc;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }

  .sidebarWrapper {
    display: none;
  }
}
