.sidebar {
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    .top {
        padding: 20px;
        border-bottom: 1px solid var(--gray-100);
        border-right: 1px solid var(--gray-100);
        height: 80px;
        display: flex;
        align-items: center;
    }

    .switcher {
        width: 64px;
        height: 64px;
        border-radius: var(--default-border);
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 20px;
        position: relative;

        .block {
            width: 100%;
            height: 100%;
            border-radius: var(--default-border);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transition: opacity .3s ease-in;
            opacity: 0;
            pointer-events: none;
        }

        .sick {
            background-color: var(--red-100);
            opacity: 1;
            pointer-events: auto;

            svg {
                fill: var(--red-400) !important;
                width: 24px;
                height: 24px;
            }
        }

        .healthy {
            background-color: var(--blue-100);
            opacity: 1;
            pointer-events: auto;

            svg {
                fill: var(--blue) !important;
                width: 24px;
                height: 24px;
            }
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        padding: 20px;
        align-items: center;

        .item {
            width: 64px;
            height: 64px;
            border-radius: var(--default-border);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .active {
            background-color: var(--blue);

            svg {
                path {
                    stroke: white;
                }
            }
        }

        .activeRed {
            background-color: var(--red-400);

            svg {
                path {
                    stroke: white;
                }
            }
        }
    }
}