.linkedCards {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h6 {
    font-size: 16px;
    font-weight: 600;
  }
}

.mainContent {
  margin-top: 8px;
}

.box {
  margin-top: 16px;
}

.boxConversions {
  padding: 0;
  margin-top: 8px;
}

.boxPurchases {
  margin-top: 8px;
  padding: 4px 12px !important;
}

.conversionsWrapper {
  margin-top: 16px;

  h6 {
    font-size: 16px;
    font-weight: 500;
    color: #b1b2b4;
  }
}
