.linkedCards {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h6 {
    font-size: 16px;
    font-weight: 600;
  }

  .linkedCardsInner {
    display: flex;
    gap: 16px;
    align-items: stretch;
  }

  .linkedCardsLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.mainContent {
  margin-top: 16px;
}

.box {
  margin-top: 16px;
}

.boxConversions {
  padding: 0 !important;
  margin-top: 8px;
}

.boxPurchases {
  margin-top: 8px;
  padding: 4px 12px !important;
}

.conversionsWrapper {
  margin-top: 16px;

  h6 {
    font-size: 16px;
    font-weight: 500;
    color: #b1b2b4;
  }
}

.statsWrapperMob {
  @media (min-width: 1280px) {
    display: none;
  }
}

.statsWrapperDesktop {
  display: none;

  @media (min-width: 1280px) {
    display: block;
  }

  &.statsWrapper {
    height: 100%;
    width: 100%;

    .box {
      margin-top: 0;
      width: 100%;
    }
  }
}

.stats {
  display: flex;
  gap: 8px;
  align-items: end;
  overflow-x: auto;

  @media (min-width: 768px) {
    gap: 16px;
  }
}

.statsItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 0;
  align-items: center;

  .graph {
    height: 28px;
    width: 100%;
    border-radius: 8px;
    background-color: #b1ccff;
  }

  &.active {
    .graph {
      background-color: var(--blue);
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;
  }
}
