.linkedCards {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h6 {
    font-size: 16px;
    font-weight: 600;
  }
}

.mainContent {
  margin-top: 8px;
}

.box {
  margin-top: 16px;
}

.boxConversions {
  padding: 0;
  margin-top: 8px;
}

.boxPurchases {
  margin-top: 8px;
  padding: 4px 12px !important;
}

.conversionsWrapper {
  margin-top: 16px;

  h6 {
    font-size: 16px;
    font-weight: 500;
    color: #b1b2b4;
  }
}

.stats {
  display: flex;
  gap: 8px;
  align-items: end;
  overflow-x: auto;
}

.statsItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1 0;
  align-items: center;

  .graph {
    height: 28px;
    width: 100%;
    border-radius: 8px;
    background-color: #b1ccff;
  }

  &.active {
    .graph {
      background-color: var(--blue);
    }
  }

  span {
    font-size: 12px;
    font-weight: 500;
  }
}
