.wrapper {
  display: grid;
  grid-template-columns: 1fr;

  gap: 24px;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px;
  }
}

.wrapperDoctors {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1024px) {
    grid-column: span 2;
  }
}

.calendarMobWrapper {
  margin-left: -16px;
  overflow-x: hidden;
  width: calc(100% + 32px);
  margin-top: -16px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.titleBlock {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.helper {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.calendarDesktop {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
