.info {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 16px;
        height: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .info {
        img {
            max-width: 14px;
            max-height: 14px;
        }
    }
}