.menu {
    width: 116px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    color: var(--gray);
    position: fixed;
    transition: width 300ms ease-in;
    z-index: 10000;


    p {
        margin-bottom: 10px;
    }

    
    .logo {
        border-bottom: 1px solid var(--gray-100);
        height: 80px;
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .container {
        padding: 20px;
        
        .list {
            margin-top: 20px;
            
            .active {
                background-color: var(--blue);
                color: var(--white);
                
                path {
                    stroke: white;
                }
            }
            
            .activeRed {
                background-color: var(--red-400);
                color: var(--white);
                
                path {
                    stroke: white;
                }
            }
        }

        .item {
            width: 64px;
            height: 64px;
            border-radius: var(--default-border);
            cursor: pointer;
            transition: all .3s ease-out;
            display: flex;
            align-items: center;

            svg {
                margin: 0 auto;
                transition: all .3s ease-out;
                min-width: 24px !important;
                height: 24px;
            }

            p {
                margin: 0;
                position: absolute;
                opacity: 0;
                transition: none;
            }
        }

        .itemHover {
            transition: ease-in-out .3s;
            color: var(--dark);

            path {
                transition: ease-in-out .3s;
                stroke: var(--dark);
            }
        }
    }
}

.menu.open {
    width: 300px;

    .container {
        .list {
            .item {
                width: 100%;
                height: 65px;
                padding: 25px 20px;
                display: flex;
                grid-gap: 20px;
                align-items: center;
                
                p {
                    position: static;
                    opacity: 1;
                }

                svg {
                    margin: 0;
                }
            }
        }
    }
}