.menu {
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    color: var(--gray);
    position: fixed;

    p {
        margin-bottom: 10px;
    }

    
    .logo {
        padding-bottom: 26px;
        border-bottom: 1px solid var(--gray-100);
        padding: 20px 40px;
        height: 80px;
        display: flex;
        align-items: center;
    }

    .container {
        padding: 20px;
        
        .list {
            margin-top: 20px;
            
            .active {
                background-color: var(--blue);
                color: var(--white);
                
                path {
                    stroke: white;
                }
            }
            
            .activeRed {
                background-color: var(--red-400);
                color: var(--white);
                
                path {
                    stroke: white;
                }
            }
        }

        .item {
            display: flex;
            grid-gap: 20px;
            align-items: center;
            height: 65px;
            padding: 25px 20px;
            border-radius: var(--default-border);
            cursor: pointer;
            transition: all ease .5s;

            p {
                margin: 0;
            }
        }

        .itemHover {
            transition: ease-in-out .3s;
            color: var(--dark);

            path {
                transition: ease-in-out .3s;
                stroke: var(--dark);
            }
        }
    }
}
