.calendar {
  position: fixed;
  top: 150px;
}

.search {
  position: fixed;
  z-index: 1;
  width: calc(100% - 303px);
}

.list {
  width: calc(100% - 774px);
  height: calc(100% - 150px);
  top: 147px;
  position: fixed;
  padding-left: 12px;
  margin-left: 500px;
  overflow-y: auto;
  padding-right: 15px;
  padding-bottom: 20px;
}

.dateWrapper {
  background-color: #F4F8FF;
  position: fixed;
  width: calc(100% - 771px);
  padding-left: 15px;
  right: 0px;
}