.report {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.reason {
    margin-top: 16px;
}