.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: max(40%) 1fr;
  }

  .mainContentLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;

    @media (min-width: 1024px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .mainContentRight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    .mainContentRightCol {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.secondaryContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media(min-width: 1024px) {
    grid-template-columns: max(40%) 1fr;
  }
}