.profile {
    .header {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

    .avatar {
        position: relative;
        width: 120px;
        margin: 0 auto;

        .img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 100%;
        }

        .edit {
            width: 30px;
            height: 30px;
            border: 2px solid var(--background);
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #C8DBF6;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .inputs {
        margin-top: 25px;
        
        input {
            font-size: 15px;
        }
    }
}