.mobilePost {
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--blue-100);
    padding: 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    .user {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        
        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }

        .data {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
        }
    }

    .images {
        img {
            height: 150px;
            border-radius: 12px;
            width: 100%;
            object-fit: cover;
        }
    }

    .managment {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btns {
            display: flex;
            align-items: center;
            grid-gap: 6px;

            .btn {
                width: 40px;
                height: 40px;
                background-color: var(--system-light-grey);
                border-radius: 12px;
                padding: 10px;
            }
        }

        .more {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .mobilePost {
        padding: 20px;
        grid-gap: 20px;

        .user {
            img {
                width: 54px;
                height: 54px;
            }
        }

        .data {
            grid-gap: 6px !important;
        }

        .images {
            img {
                height: 340px;
                width: 100%;
            }
        }

        .managment {
            .btns {
                .btn {
                    width: 46px;
                    height: 46px;
                    padding: 12px;
                    border-radius: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}