.switcher {
    display: flex;
    align-items: center;
    border-radius: var(--default-border);
    border: 1px solid transparent;
    font-family: "Montserrat";
    font-weight: 500;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        grid-gap: 10px;
        width: 100%;
        color: var(--gray);
        cursor: pointer;

        svg {
            fill: var(--gray);
            z-index: 1;
        }

        p {
            opacity: 1;
            margin: 0;
        }
    }

    .item::before {
        content: '';
        width: 130px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: scaleY(0);
        transition: all .3s ease-in-out;
    }

    .healthy::before {
        background-color: var(--blue-100);
        border-top-left-radius: var(--default-border);
        border-bottom-left-radius: var(--default-border);
        transform: scaleY(1);
        z-index: -1;
    }

    .healthy {
        color: var(--blue);
        transition: ease-in-out 400ms;

        svg {
            fill: var(--blue) !important;
            transition: ease-in-out 400ms;
        }
    }

    .sick::before {
        background-color: #F7E6E8;
        color: var(--red-400);
        border-top-right-radius: var(--default-border);
        border-bottom-right-radius: var(--default-border);
        transform: scaleY(1);
        z-index: -1;
    }

    .sick {
        color: var(--red-400);
        transition: ease-in-out 400ms;

        svg {
            fill: var(--red-400);
            transition: ease-in-out 400ms;
        }
    }

    .hover {
        color: var(--dark);
        transition: ease-in-out .3s;

        svg {
            fill: var(--dark);
            transition: ease-in-out .3s;
        }
    }
}

.switcher.close {
    max-width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;

    .item {
        min-width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        svg {
            min-width: 24px;
            height: 24px;
            position: absolute;
        }
    }

    .item::before {
        width: 64px;
        height: 64px;
        position: relative;
    }

    .sick::before, .healthy::before {
        border-radius: var(--default-border);
        position: absolute;
        left: 0;
    }

    .sick {
        position: absolute;
        width: 100%;
    }
}