.btn {
  width: 100%;

  &:disabled {
    opacity: 0.8;
  }

  &.normal {
    padding: 14px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
  }

  &.large {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
  }

  &.outline {
    &.primary {
      border: 1px solid var(--blue);
      color: var(--blue);
    }
  }

  &.fill {
    &.primary {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}
