.notes {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    .header {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        .empty {
            height: calc(100vh - 300px);

            .inner {
                display: flex;
                flex-direction: column;
                grid-gap: 20px;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            .text {
                width: 540px;
            }
        }

        .itemAny {
            width: 505px;
            padding: 30px;
            background-color: var(--white);
            border-radius: var(--default-border);

            .managment {
                display: flex;
                align-items: center;
                grid-gap: 10px;

                .item {
                    width: 105px;
                    padding: 10px;
                    height: 45px;
                    border-radius: var(--default-border);
                    border: 1px solid var(--gray-100);
                    display: flex;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .block {
                margin: 30px 0;

                .title {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 7px;
                }

                .box {
                    margin-top: 20px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 10px;

                        li {
                            display: flex;
                            align-items: center;
                            grid-gap: 5px;
                        }
                    }
                }
            }

            .btns {
                display: flex;
                align-items: center;
                grid-gap: 20px;
            }
        }
    }

}

.modalContent {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    margin-bottom: 28px;
}

@media screen and (max-width: 576px) {
    .notes {
        .items {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .notes {
        .items {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;

            .item {
                width: 100%;
            }
        }
    }
}