.container {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    .box {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        
        .nav {
            display: flex;
            justify-content: space-between;
        }
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
    }

    .inner {
        display: flex;
        align-items: center;
        grid-gap: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .filters {
        position: absolute;
        right: 40px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1550px) {
    .container {
        grid-gap: 15px;

        .filters {
            position: static;
            margin: 0 auto;
            margin-right: 0;
        }
    }
}