.container {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    .box {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
    }

    .filters {
        position: absolute;
        right: 40px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: block;

        .line {
            height: 2px;
            background-color: var(--blue-100);
            margin: 16px 0;
            transition: .3s linear;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1550px) {
    .container {
        grid-gap: 15px;

        .filters {
            position: static;
            margin: 0 auto;
            margin-right: 0;
        }
    }
}