.list {
    margin-top: 24px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.data {
    padding: 16px 0;
    border-bottom: 1px solid var(--blue-100);
    display: flex;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;

    img {
        width: 96px;
        height: 96px;
    }

    .stats {
        .item {
            display: flex;
            align-items: center;
        }
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;
    margin-top: 16px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .views {
        display: flex;
        align-items: center;
        grid-gap: 5px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .data {
        img {
            width: 80px;
            height: 80px;
        }
    }
}