.notification {
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: var(--red-400);
    top: 2px;
    right: 3px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
}
