.header {
  padding: 15px;
  background-color: var(--white);
  border-bottom: 1px solid var(--blue-100);
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headerTop {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;

  p {
    font-size: 16px;
    font-weight: 600;
  }

  span {
    font-size: 13px;
    font-weight: 500;
    color: var(--green);
  }
}

.img {
  margin-left: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.headerBottom {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.headerBottomContent {
  display: flex;
  flex-direction: column;
  gap: 6px;

  p:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #3c3d3e;
  }

  p:last-child {
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-gray);

    span {
      color: var(--dark);
    }
  }
}
