.btn {
    height: 52px;
    border-radius: var(--mobile-default-border);
    font-size: 16px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 16px 24px;
    box-sizing: border-box;
    transition: all ease .5s;
}

.btn:disabled {
    background-color: #7EB2FF !important;
}