.btn {
    height: 60px;
    border-radius: var(--default-border);
    font-size: 18px;
    color: var(--white);
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: relative;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 15px 25px;
    box-sizing: border-box;
    transition: all ease .3s;
}

.btn:disabled {
    background-color: #7EB2FF !important;
}