.box {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: var(--gray);
    border-radius: 60px;
    margin: 16px 0;
    opacity: 0.1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
    }
}

.items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .filterBtn {
        display: flex;
        align-items: center;
        grid-gap: 8px;
    }

    .line {
        display: none;
    }

    .items {
        grid-gap: 12px;
        margin-top: 16px;
    }

    .box {
        grid-gap: 16px;
    }
}