.protection {
    .header {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        .box {
            p {
                margin-bottom: 10px;
            }

            input {
                border-radius: 15px;
            }
        }
    }
}