.menu {
    width: 84px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    color: var(--gray);
    position: fixed;
    transition: width 300ms ease-in, border-color .3s linear;
    border-right: 1px solid var(--blue-100);
    z-index: 1;
    
    .logo {
        border-bottom: 1px solid var(--blue-100);
        height: 65px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;

        img {
            cursor: pointer;
        }
    }

    .container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menu.open {
    width: 256px;

    .container {
        display: block;

        .list {
            margin-top: 16px;

            .item {
                width: 100%;
                height: 56px;
                padding: 16px;
                display: flex;
                grid-gap: 16px;
                align-items: center;
                
                p {
                    position: static;
                    opacity: 1;
                }

                svg {
                    margin: 0;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
