.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  div {
    width: 100%;
  }
}

.filter {
  @media (min-width: 1024px) {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}

.search {
  div:first-child {
    @media (min-width: 1024px) {
      height: 50px;
    }
  }
}

.bigFilter {
  @media (min-width: 1024px) {
    height: 50px;
    min-width: 160px !important;
  }
}
