.chat {
    .view {
            top: 80px;
            position: fixed;
    }
}

@media screen and (max-width: 576px) {
    .chat {
        .view {
            top: 0;
            position: static;
        }
    }
}