.text {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.nav {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    .note {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.condition {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
    }
}

.cancel {
    display: flex;
    align-items: center;
    grid-gap: 3px;
    background-color: var(--red-400);
    padding: 4px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.container {
    margin-top: 16px;
}

.notfound {
    img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.results {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;

    .result {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }
}

.resultsInner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}