@media screen and (max-width: 576px) {
    .mobileMenu {
        width: 100vw;
        height: 105px;
        background-color: var(--white);
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        border-top-left-radius: var(--default-border);
        border-top-right-radius: var(--default-border);

        .box {
            display: flex;
            align-items: center;
            grid-gap: 45px;

            .active {
                path {
                    stroke: var(--dark);
                }
            }
        }

        .extraBtn {
            width: 80px;
            height: 80px;
            border: 10px solid rgba(217,217,217, 0.3);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -80px);
            border-radius: 100%;
            
            .btn {
                padding: 10px;
                border-radius: 100%;
                background-color: var(--green);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}