.menu {
  height: 70px;
  width: 100%;
  // background: radial-gradient(circle at top center, transparent, transparent 32px, white 34px, white);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;

  svg {
    width: 24px;
    height: 24px;
    stroke: var(--gray);
  }

  :nth-child(3) svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.active {
  svg {
    width: 24px;
    height: 24px;

    path,
    circle {
      stroke: var(--blue);
    }
  }
}

.mobileExtraCall {
  position: relative;
  width: 56px;
  height: 56px;
  top: 0;
  right: 0;
}
