.position {
    position: absolute;
    border-radius: 80px;
    width: 56px;
    height: 56px;
    top: 50px;
    left: 50%;
}

.menu {
    position: relative;
    width: 100%;
    height: 80px;
}

.wrap {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.rectLeft,
.rectRight {
    position: relative;
    width: 50%;
    height: 80px;
    float: left;
}

.rectLeft {
    margin-left: -50px;
}

.rectRight {
    margin-right: -50px;
}

.inner {
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.rectLeft .inner {
    left: 50px;
    right: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
}

.rectRight .inner {
    left: 0;
    right: 50px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
}

.rect {
    float: left;
    height: 100%;
    width: 100px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50px;
}

.circle {
    display: block;
    width: 100px;
    height: 50px;
    top: -50px;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.circle:after {
    content: "";
    width: 50px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: -110px;
    left: -40px;
    border: 40px solid rgba(0, 0, 0, 0.8);
}
