.menu {
    height: 74px;
    width: 100%;
    background: radial-gradient(circle at top center, transparent, transparent 32px, white 34px, white);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
}


.mobileExtraCall {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -66px);
}