.progress {
  width: 100%;
  height: 23px;
  border-radius: 5px;
  border: 1px solid var(--blue-200);
  position: relative;
  overflow: hidden;

  .valueLine {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--blue-200);

    .value {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 500;
      width: calc(100% + 40px);
      text-align: right;
    }
  }
}
