.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--gray-100);
}

.text {
  width: 90%;
  height: 3px;
  border-radius: 50%;
  background-color: var(--gray-100);
}

