.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .img {
    border-radius: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h6 {
      font-size: 14px;
      font-weight: 600;
    }

    span {
      line-height: 130%;
      font-size: 12px;
      font-weight: 500;
      color: var(--dark-gray);
    }
  }
}
