.wrapper {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--blue-100);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--white);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      overflow: hidden;
    }

    .moreBtn {
      transition: all 0.2s ease;
      cursor: pointer;

      svg {
        circle {
          fill: var(--gray);
        }

        &:hover {
          circle {
            fill: var(--dark);
          }
        }
      }
    }
  }

  .content {
    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .size {
      font-size: 14px;
      font-weight: 500;
      color: var(--gray);
    }

    .downloadBtn {
      transition: all 0.2s ease;
      cursor: pointer;

      svg {
        path {
          stroke: var(--gray);
        }

        &:hover {
          path {
            stroke: var(--dark);
          }
        }
      }
    }
  }
}
