.view {
    position: relative;

    .chatInfo {
        position: fixed;
        top: 145px;
        height: calc(100vh - 100px);
        width: calc(100vw - 736px);
        padding: 16px;
        background-color: var(--white);
        border-left: 1px solid var(--blue-100);
    }

    .chat {
        position: fixed;
        top: 145px;
        height: calc(100vh - 217px);
        width: calc(100vw - 736px);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        .list {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;

            .message {
                height: 90px;
                display: flex;
                align-items: center;
                grid-gap: 10px;

            }

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 100%;
                cursor: pointer;
            }

            .inner {
                display: flex;
                flex-direction: column;
                grid-gap: 5px;
            }

            .text {
                padding: 12px 15px;
                border-radius: 10px 10px 0px 10px;
                width: max-content;
                max-width: 700px;
                background-color: var(--white);
                display: flex;
                grid-gap: 5px;
                cursor: pointer;
                word-wrap: break-word;

                .read {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    img {
                        width: 14px;
                        height: 8px;
                    }
                }
            }

            .myText {
                background-color: var(--blue-200);
            }

            .myTextWithSick {
                background-color: var(--red-100);
            }

            .time {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .info {
        background-color: var(--white);
        height: 80px;
        width: calc(100vw - 736px);
        padding: 12px 20px;
        border: 1px solid var(--gray-100);
        border-top: none;
        position: fixed;
        top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: border-color linear .3s;

        .callIcons {
            display: flex;
        }

        .data {
            display: flex;
            align-items: center;
            grid-gap: 16px;

            .arrow {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }

            img {
                width: 56px;
                height: 56px;
                object-fit: cover;
                border-radius: 100%;
            }

            .text {
                display: flex;
                flex-direction: column;
                grid-gap: 5px;
            }
        }

        .call {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    .messageBlock {
        width: calc(100vw - 736px);
        background-color: var(--white);
        position: fixed;
        bottom: 0;
        padding: 12px 20px;

        .wrapper {
            display: flex;
            justify-content: space-between;
            grid-gap: 20px;

            .inner {
                display: flex;
                width: 100%;

                input {
                    border-color: var(--gray-200) !important;
                }

                input::placeholder {
                    font-size: 14px;
                }

                .btn {
                    border: 1px solid var(--gray-200);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: none;
                    border-top-right-radius: var(--mobile-default-border);
                    border-bottom-right-radius: var(--mobile-default-border);
                    cursor: pointer;
                    padding-right: 20px;

                    img {
                        width: 24px;
                        height: 24px;

                    }
                }
            }
        }

        .icon {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    .view {
        .info {
            width: 100vw;
        }

        .chat {
            width: 100vw;
        }

        .messageBlock {
            width: 100vw;
        }
    }
}