.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(38, 38, 38, 0.40);
    backdrop-filter: blur(30px);
    z-index: 2;

    .content {
        background-color: var(--white);
        border-radius: var(--mobile-default-border);
        padding: 30px 20px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 460px;
        border: 1px solid var(--blue-100);
    }
}

@media screen and (max-width: 576px) {
    .modal {
        .content {
            width: calc(100vw - 72px) !important;
            padding: 20px;
        }
    }
}