.inner {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .inner {
        grid-gap: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .inner {
        grid-gap: 8px;
    }
}