.authorization {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--mobile-default-border);
    color: var(--dark-gray);

    .box {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        margin: 24px 0 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 15px;

        .status {
            p {
                font-weight: 400 !important;
            }
        }
    }
}

.btns {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    margin-top: 42px;
}

.input {
    margin-top: 20px;
}

.resultBox {
    width: 100%;
    height: auto;
    overflow-y: auto;
    margin-top: 20px;
    max-height: 350px;
}

.resultBox {
    scrollbar-width: auto;
    scrollbar-color: #0064fa #0064fa;
}

.resultBox::-webkit-scrollbar {
    width: 10px;
}

.resultBox::-webkit-scrollbar-track {
    background: rgba(#0064FA, 0.2);
    border-radius: var(--default-border);
}

.resultBox::-webkit-scrollbar-thumb {
    background-color: #0064fa;
    border-radius: var(--default-border);
}

.result {
    display: flex;
    flex-direction: column;

    .label {
        display: flex;
        align-items: center;
        grid-gap: 5px;
    }
}


@media screen and (max-width: 576px) {
    .authorization {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 22px !important;
        }

        .box {
            p {
                font-size: 13px !important;
            }
        }
    }
}