.authorization {
    width: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 30px;
    border-radius: var(--default-border);
    color: var(--dark-gray);

    .box {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        margin: 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .authorization {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 22px !important;
        }

        .box {
            p {
                font-size: 13px !important;
            }
        }
    }
}