.users {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    .box {
        background-color: var(--white);
        padding: 24px;
        border-radius: var(--default-border);

        .view {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
                display: flex;
                align-items: center;
                grid-gap: 24px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    object-fit: cover;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 12px;
                }
            }

            &Stats {
                display: flex;
                align-items: center;
                grid-gap: 20px;

                .alerts {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 10px;

                    .alert {
                        padding: 8px 12px;
                        border-radius: 52px;
                        border: 1px solid var(--system-light-grey);
                        width: fit-content;
                    }
                }
            }

            &Block {
                padding: 32px 24px;
                background-color: var(--background);
                border-radius: var(--default-border);
            }

            .redirect {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .data {
            margin-top: 42px;
            padding: 24px;
            border: 1px solid var(--system-light-grey);
            border-radius: var(--default-border);

            .title {
                margin-bottom: 42px;
            }

            .blocks {
                display: flex;
                align-items: center;
                grid-gap: 203px;

                .block {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 32px;

                    .blockItem {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 16px;
                    }
                }
            }
        }

        .history {
            
            li {
                display: grid;
                grid-template-columns: 1.45fr repeat(4, 1fr);
                padding: 24px 0;
                border-bottom: 2px solid var(--system-light-grey);
            }

            li:first-child {
                padding-top: 0;
            }
        }
    }

    .navigate {
        position: fixed;
        z-index: 100;
        bottom: 48px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: flex;
        grid-gap: 12px;
        align-items: center;

        .event {
            width: 400px;
            height: 60px;
            padding: 8px 8px 8px 24px;
            background-color: var(--white);
            border: 1.5px solid var(--system-light-grey);
            border-radius: var(--default-border);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .arrow {
            width: 36px;
            height: 36px;
            border-radius: var(--input-border);
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--system-light-grey);
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
        }
    }
}