.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  row-gap: 24px;
  margin-top: 16px;
  padding: 16px 0;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.box_wrapper {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.clinic__title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.72px;
}

.graph__container {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .item {
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #0064FA;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 185px;
  margin-top: 16px;
}

.clinic__heal {
  display: flex;
  gap: 14px;
  margin-top: 11px;

  .clinic__heal__block {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    .clinic__heal__h1 {
      font-weight: 500;
      font-size: 30px;
    }

    .clinic__heal__p {
      font-weight: 500;
      font-size: 12px;
      color: #7D7F82;
      line-height: 14.4px;
    }
  }
}

.characteristics {
  margin-top: 16px;
  margin-bottom: 16px;
}
