.user {
    height: 140px;
    background-color: var(--white);
    border-radius: var(--default-border);
    padding: 30px;
    display: flex;
    align-items: center;
    grid-gap: 20px;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
    }
    
    .image {
        width: 80px;
        position: relative;
        height: 80px;
        border-radius: 100%;

        input[type="file"] {
            opacity: 0;
            position: absolute;
            top: 0;
            width: 80px;
            height: 80px;
        }

    }

    .data {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .user {
        height: 130px;
        padding: 25px 30px;
    }
}