.info {
    .box {
        .block {
            margin: 10px 0 24px;
            display: flex;
            padding: 20px;
            flex-direction: column;
            gap: 24px;
            border-radius: var(--mobile-default-border);
            background-color: transparent;
            border: 1px solid var(--blue-100);

            ul {
                li {
                    padding: 20px 0;
                    border-bottom: 1px solid var(--blue-100);
                    display: flex;
                    grid-gap: 5px;
                }

                li:last-child {
                    padding-bottom: 0px;
                    border: none;
                }

                li:first-child {
                    padding-top: 0px;
                }
            }
        }

        .media {
            .nav {
                display: flex;
                grid-gap: 36px;
                align-items: center;
                margin-left: 16px;

                .item {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;

                    p {
                        margin-bottom: 8px;
                    }

                    .line {
                        opacity: 0;
                        background-color: var(--blue);
                        height: 4px;
                        width: 100%;
                        border-radius: 8px 8px 0px 0px;
                    }
                }

                .itemActive {
                    p {
                        font-weight: 600;
                        color: var(--dark) !important;
                    }

                    .line {
                        opacity: 1;
                    }
                }
            }

            .list {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 12px;
                padding: 16px;
                border: 1px solid var(--system-light-grey);
                border-radius: var(--mobile-default-border);

                .square {
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    border-radius: var(--input-border);
                }
            }
        }
    }
}