.wrapper {
  padding: 16px;
  background-color: #fff;
  border: 1px solid var(--blue-100);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;

  .img {
    width: 92px;
    height: 92px;
    border-radius: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 130%;

        p {
          color: var(--dark-gray);
        }
      }
    }
  }
}
