.confirmation {
    width: 570px;
    max-height: 740px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 30px;
    border-radius: var(--default-border);
    color: var(--dark-gray);

    .text {
        margin: 45px 0 0 0;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        padding: 75px 0;

        .item {
            width: 75px;
            height: 90px;
            border: 1px solid #000;
            border-radius: 10px;
            text-align: center;
            font-size: 30px;
            color: #000;
        }
    }

    .timer {
        margin-bottom: 50px;
        font-weight: 400 !important;
    }

    .redirect {
        display: flex;
        align-items: center;
        grid-gap: 5px;
        justify-content: center;
        margin-top: 40px;
        font-weight: 500;

        .link {
            color: var(--blue);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 576px) {
    .confirmation {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text {
            p {
                font-size: 15px !important;
            }
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
            
            input {
                width: 55px !important;
                height: 70px !important;
            }
        }

        .timer {
            margin-bottom: 40px;
        }

        .redirect {
            font-size: 15px;
        }
    }
}