.confirmation {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--default-border);
    color: var(--dark-gray);

    .text {
        margin: 24px 0 0 0;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        padding: 24px 0 10px;

        .item {
            width: 50px;
            height: 60px;
            border: 1px solid var(--dark-gray);
            border-radius: var(--mobile-default-border);
            text-align: center;
            font-size: 20px;
            color: #000;
            padding: 10px;
        }
    }

    .timer {
        margin-bottom: 24px;
    }

    .redirect {
        display: flex;
        align-items: center;
        grid-gap: 5px;
        justify-content: center;
        margin-top: 20px;
        font-weight: 500;

        .link {
            color: var(--blue);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 576px) {
    .confirmation {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text {
            p {
                font-size: 15px !important;
            }
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
            
            input {
                width: 55px !important;
                height: 70px !important;
            }
        }

        .timer {
            margin-bottom: 40px;
        }

        .redirect {
            font-size: 15px;
        }
    }
}