.container {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  min-height: 100vh;
}

@media screen and (max-width: 1440px) {
  .container {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: calc(100% - 70px);
    top: 70px;
    left: 0;
    overflow-y: auto;
    padding: 16px;

    &.withHeader {
      padding-top: calc(70px + 16px);
    }

    &.withFooter {
      padding-bottom: calc(70px + 16px);
    }
  }
}
