.container {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
}

@media screen and (max-width: 576px) {
    .container {
        padding: 16px;
        width: 100vw;
        position: absolute;
        height: 100%;
    }
}
