.container {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

@media screen and (max-width: 1440px) {
  .container {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: calc(100% - 70px);
    padding: calc(70px + 16px) 16px;
    top: 70px;
    left: 0;
    overflow-y: auto;
  }
}
