.header {
    background-color: var(--white);
    height: 65px;
    display: flex;
    color: var(--gray);
    position: fixed;
    width: calc(100% - 256px);
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid var(--gray-100);
    border-right: 1px solid var(--gray-100);
    transition: border-color .3s linear;

    .nav {
        padding: 20px 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .inner {
            display: flex;
            align-items: center;
            grid-gap: 10px;

            .text {
                p {
                    transition: all ease .5s;
                }
            }
        }

        .data {
            display: flex;
            align-items: center;
            grid-gap: 30px;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
                cursor: pointer;
            }

            .notification {
                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .header {
        width: calc(100vw - 116px);

        .nav {
            .inner {
                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        width: 100%;
    }
}