.container {
    width: calc(100vw - 256px);
    height: calc(100vh - 65px);
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 480px 1fr;
    overflow: hidden;

    .sidebar {
        background-color: var(--white);
        padding: 16px;

        .box {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
            
            .searchBox {
                width: 100% !important;
                display: flex;
                align-items: center;
                grid-gap: 12px;
            }

            .filtersBlock {
                display: flex;
                flex-direction: column;
                grid-gap: 24px;

                .selectedList {
                    display: flex;
                    align-items: center;
                    grid-gap: 8px;
                    flex-wrap: wrap;
                    
                    .selectedBlock {
                        padding: 12px 16px 12px 12px;
                        border-radius: 10px;
                        background-color: var(--blue-100);
                        display: flex;
                        align-items: center;
                        grid-gap: 6px;
                        height: 42px;

                        img {
                            width: 14px;
                            height: 14px;
                            cursor: pointer;
                        }
                    }
                }

                .filtersList {
                    display: flex;
                    align-items: center;
                    grid-gap: 8px;
                    flex-wrap: wrap;

                    .filtersBox {
                        padding: 12px;
                        border-radius: 10px;
                        background-color: var(--background);
                        display: flex;
                        align-items: center;
                        height: 42px;
                        cursor: pointer;

                        img {
                            width: 24px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .wrapper {
                overflow-y: scroll;
                height: calc(100vh - 220px);
                scrollbar-width: thin;
                scrollbar-color: transparent transparent;

                .chats {
                    background-color: transparent;

                    .chat {
                        padding: 12px;
                        border-bottom: 1px solid var(--gray-100);
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }

                    .chatActive {
                        height: calc(100% - 5px);
                        border-radius: var(--mobile-default-border);
                        background: var(--blue-100);
                    }

                    .chatActiveRed {
                        background: var(--red-100);
                        border-radius: 15px;
                    }

                    .inner {
                        display: flex;
                        align-items: center;
                        grid-gap: 20px;
                    }

                    img {
                        width: 56px;
                        height: 56px;
                        object-fit: cover;
                        border-radius: 100%;
                    }

                    .data {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 10px;
                    }

                    .time {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 12px;
                    }

                    .counter {
                        width: 22px;
                        height: 22px;
                        border-radius: 100%;
                        background-color: var(--blue);
                        color: var(--white);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        font-size: 10px;
                        font-weight: 500;
                    }

                    .counterRed {
                        background-color: var(--red-400);
                    }

                    .calls {
                        .call {
                            padding: 24px;
                            border-bottom: 1px solid var(--gray-100);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            img {
                                width: 24px;
                                height: 24px;
                            }

                            .avatar {
                                width: 70px;
                                height: 70px;
                                object-fit: cover;
                                border-radius: 100%;
                            }

                            .data {
                                display: flex;
                                grid-gap: 8px;
                                flex-direction: column;
                            }
                        }
                    }

                    .chat:hover {
                        transition: all ease .5s;

                        p {
                            transition: all ease .5s;
                            font-weight: 600;
                        }
                    }
                }
            }


            .chats::-webkit-scrollbar {
                scrollbar-width: none;
                -ms-overflow-style: none;
            }

            .wrapper::-webkit-scrollbar {
                width: 0.5em;
            }

            .wrapper::-webkit-scrollbar-thumb {
                background-color: transparent;
            }

            .wrapper::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1500px) {
    .container {
        width: calc(100vw - 116px);
        height: calc(100vh - 80px);
        grid-template-columns: 1fr;
    }
}