.container {
    width: calc(100vw - 300px);
    height: calc(100vh - 80px);
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid var(--blue-100);
    display: grid;
    grid-template-columns: 530px 1fr;
    overflow: hidden;

    .sidebar {
        background-color: var(--white);
        padding: 20px;

        .box {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            .chats {
                overflow-y: auto;
                height: calc(100vh - 280px);

                .chat {
                    height: 105px;
                    padding: 20px 0;
                    border-bottom: 1px solid var(--gray-100);
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    
                    .inner {
                        display: flex;
                        grid-gap: 15px;
                    }

                    img {
                        width: 65px;
                        height: 65px;
                        object-fit: cover;
                    }

                    .data {
                        display: flex;
                        flex-direction: column;
                        grid-gap: 10px;
                    }

                    .time {
                        position: absolute;
                        top: 20px;
                        right: 0;
                    }

                    .counter {
                        width: 30px;
                        height: 30px;
                        border-radius: 1000px;
                        background-color: var(--blue);
                        color: var(--white);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        font-size: 12px;
                        margin-top: 15px;
                    }
                }

                .calls {
                    .call {
                        height: 105px;
                        padding: 20px 0;
                        border-bottom: 1px solid var(--gray-100);
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        .data {
                            display: flex;
                            grid-gap: 15px;

                            img {
                                width: 65px;
                                height: 65px;
                                object-fit: cover;
                            }

                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }

                            .text {
                                display: flex;
                                flex-direction: column;
                                grid-gap: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .view {
        position: relative;
        
        .chat {
            position: fixed;
            top: 185px;
            width: 100%;
            height: calc(100vh - 285px);
            width: calc(100vw - 830px);
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .list {
                display: flex;
                flex-direction: column;
                grid-gap: 10px;
                
                .message {
                    height: 90px;
                    display: flex;
                    align-items: center;
                    grid-gap: 10px;

                }

                img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 1000px;
                }

                .inner {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 5px;
                }

                .text {
                    padding: 15px;
                    border-radius: 10px 10px 0px 10px;
                    max-width: 700px;
                    background-color: var(--white);
                    display: flex;
                    grid-gap: 5px;
                    cursor: pointer;

                    .read {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        img {
                            width: 14px;
                            height: 8px;
                        }
                    }
                }

                .myText {
                    background-color: var(--blue-200);
                }

                .time {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .info {
            background-color: var(--white);
            height: 105px;
            width: calc(100vw - 830px);
            padding: 20px 40px 20px 20px;
            border: 1px solid var(--blue-100);
            border-top: none;
            position: fixed;
            top: 81px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .data {
                display: flex;
                grid-gap: 15px;

                img {
                    width: 65px;
                    height: 65px;
                    object-fit: cover;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 10px;
                }
            }

            .call {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        .messageBlock {
            width: calc(100vw - 830px);
            height: 100px;
            background-color: var(--white);
            position: fixed;
            bottom: 0;
            padding: 20px;

            .wrapper {
                display: flex;
                justify-content: space-between;
                grid-gap: 20px; 

                .inner {
                    display: flex;
                    width: 100%;

                    input {
                        border-color: var(--gray-200) !important;  
                    }

                    .btn {
                        border: 1px solid var(--gray-200);
                        display: flex;
                        justify-content: center;
                        padding: 15px 15px 15px 0;
                        border-left: none;
                        border-top-right-radius: var(--input-border);
                        border-bottom-right-radius: var(--input-border);
                        cursor: pointer;
                    }
                }
            }

            .icon {
                cursor: pointer;
            }
        }
    }
}