.day {
    height: 50px;
    width: 100%;
    border: solid;
    border-color: #EBF3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    padding: auto;
    // cursor: pointer;
}

.day:first-child {
    border-radius: 12px 5px 5px 12px
}

.day:last-child {
    border-radius: 5px 12px 12px 5px;
}

.day_active {
    height: 50px;
    width: 100%;
    border: 2px solid;
    border-color: #EBF3FF;
    background-color: #0064FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: auto;
    // cursor: pointer;
}

.day_text_active {
    font-weight: 600;
    color: white;
}

.day_text {
    font-weight: 600;
    color: black;
}
