.login {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--mobile-default-border);
    color: var(--dark-gray);

    .form {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin: 24px 0 5px;

        .inner {
            display: flex;

            .btn {
                border: 1px solid var(--gray-200);
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: none;
                padding-right: 20px;
                border-top-right-radius: var(--mobile-default-border);
                border-bottom-right-radius: var(--mobile-default-border);

                img {   
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .validate {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            grid-gap: 5px;
            
            p {
                color: var(--red-400);
                transition: ease 0.3s;
            }
            
            input {
                transition: ease 0.3s;
                border-color: var(--red-400);
            }
        }

    }

    .link {
        float: right;
        margin-bottom: 20px;
        color: var(--dark-gray);
        font-weight: 500;
        font-size: 12px;
    }

    .redirect {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            color: var(--blue);
            margin: 0;
            font-size: 14px;
        }
    }

    .decor {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        margin: 20px 0;

        span {
            color: var(--blue-200);
        }

        .line {
            width: 215px;
            height: 1px;
            background-color: var(--blue-200);
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--dark);
            font-size: 18px;
            height: 60px;
            border: 1px solid var(--blue-200);
            border-radius: var(--mobile-default-border);
            cursor: pointer;
            grid-gap: 10px;
        }
    }
}

@media screen and (max-width: 576px) {
    .login {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .redirect {
            p {
                font-size: 14px !important;
            }
        }

        .link {
            font-size: 14px;
        }

        .link {
            display: flex;
            justify-content: flex-end;
        }

        .btns {
            .btn {
                p {
                    font-size: 12px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .login {
        .redirect {
            p {
                font-size: 13px !important;
            }
        }

    }
}