.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .header {
        height: 70px;
        background-color: var(--white);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--blue-100);

        .user {
            display: flex;
            grid-gap: 10px;

            .data {
                display: flex;
                align-items: center;
                grid-gap: 10px;

                .avatar {
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    object-fit: cover;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 5px;
                }
            }
        }
    }

    .chatContainer {
        height: calc(100vh - 175px);
    }

    .chatBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        .date {
            padding: 10px;
            background-color: rgba(177, 178, 180, 0.10);
            width: 70px;
            border-radius: var(--default-border);
            margin: 0 auto;
            margin-bottom: 25px;
        }

        .container {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;

            .message {
                display: flex;
                max-width: 270px;

                .inner {
                    background-color: #C8DBF6;
                    border-radius: 12px 12px 12px 0;
                    justify-content: space-between;
                    padding: 10px;
                    font-size: 14px;
                    display: flex;
                    grid-gap: 10px;

                    .time {
                        display: flex;
                        align-items: flex-end;
                    }
                }
            }

            .message_right {
                display: flex;
                justify-content: flex-end;

                .inner {
                    max-width: 270px;
                    display: flex;
                    justify-content: space-between;
                    grid-gap: 10px;
                    background-color: var(--white);
                    padding: 10px;
                    border-radius: 12px 12px 0px 12px;
                }
            }
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 200px;
        margin: 0 auto;

        img {
            width: 120px;
            height: 120px;
        }

        .text {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
        }
    }

    .box {
        background-color: var(--white);
        height: 105px;
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        grid-gap: 10px;

        .input {
            height: 50px;
            border-radius: var(--default-border);
            padding: 15px;
            display: flex;
            border: 1px solid var(--system-light-grey);
            font-size: 15px;
            width: 100%;
            justify-content: space-between;
        }
    }
}