.events {
    .header {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 25px;

        .text {
            .subtitle {
                margin-top: 12px;
                display: flex;
                align-items: center;
                grid-gap: 10px;
            }
        }

        .calendar {
            margin-top: 15px;
        }

        .box {
            display: flex;
            flex-direction: column;
            grid-gap: 10px;

            .items {
                display: flex;
                flex-direction: column;
                grid-gap: 10px;

                .item {
                    background-color: var(--white);
                    padding: 15px;
                    border: 1px solid var(--system-light-grey);
                    border-radius: var(--default-border);

                    .block {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    .content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 500ms ease;
        opacity: 0;

        .inner {
            display: flex;
            flex-direction: column;
            grid-gap: 25px;
        }
    }

    .contentOpen {
        grid-template-rows: 1fr;
        opacity: 1;
        margin-top: 15px;
        transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1)
    }

    .grayBlock {
        border-radius: 12px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--system-light-grey);
    }

    .lang {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &Box {
            width: 140px;
        }

        .sort {
            width: 40px;
            height: 40px;
            border-radius: 12px;
            border: 1px solid var(--system-light-grey);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .time {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 15px;

        &Block {
            width: 100px;
        }
    }

    .accounts {
        .list {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 15px;
        }
    }

    .files {
        .select {
            .file {
                width: 120px;
                height: 30px;
                border-radius: var(--input-border);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--system-light-grey);
                grid-gap: 5px;
                margin-bottom: 15px;

                img {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        &Btn {
            border-radius: 12px;
            height: 60px;
            background: var(--system-light-grey);
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 10px;
        }
    }

    .quiz {
        height: 90px;
        background: var(--system-light-grey);
        border-radius: 12px;
    }
}