.notify {
    padding: 16px;
    border-radius: 14px;
    border: 1px solid var(--blue);
    color: var(--blue);
}

@media screen and (min-width: 1200px) {
    .notify {
        padding: 12px 16px;
        border-radius: 10px;
    }
}