.switcher {
    display: flex;
    align-items: center;
    border-radius: var(--mobile-default-border);
    border: 1px solid transparent;
    font-family: "Montserrat";
    font-weight: 500;
    height: 56px;
}


@media screen and (max-width: 576px) {
    .switcher {
        height: 40px;
        width: 132px;
    }
}