.about {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.data {
    display: flex;
    grid-gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.redirect {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.box {
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--mobile-default-border);
    border: 1px solid var(--gray-100);
}