.about {
    display: flex;
    flex-direction: column;
    height: 100%;

    .info {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .content {
            display: flex;
            flex-direction: column;
            grid-gap: 12px;
        }
    }
}

.text {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.data {
    display: flex;
    grid-gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.redirect {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

@media screen and (max-width: 576px) {
    .text {
        grid-gap: 4px;
    }
    
    .about {
        grid-gap: 24px;
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .text {
        grid-gap: 2px;
    }

    .about {
        .info {
            margin-top: 6px;

            .content {
                grid-gap: 10px;
            }
        }
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .text {
        grid-gap: 3px;
    }
    
    .about {
        .info {
            margin-top: 10px;

            .content {
                grid-gap: 8px;
            }
        }
    }
}