.box {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .message {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
        border-bottom: 1px solid var(--system-light-grey);

        :last-child {
            border-bottom: none;
        }

        .user {
            display: flex;
            align-items: center;
            grid-gap: 10px;

            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 100%;
            }

            .img {
                position: relative;
            }

            .online {
                width: 12px;
                height: 12px;
                border: 2px solid var(--white);
                background-color: var(--green);
                border-radius: 100%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .time {
            position: absolute;
            right: 0;
        }

        .count {
            width: 28px;
            height: 28px;
            background-color: var(--blue);
            color: var(--white);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            align-self: flex-end;
        }

        .count_red {
            width: 28px;
            height: 28px;
            color: var(--white);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            align-self: flex-end;
            background-color: var(--red-400);
        }
    }

    .call {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid var(--system-light-grey);
        
        :last-child {
            border-bottom: none;
        }

        .user {
            display: flex;
            align-items: center;
            grid-gap: 12px;

            .avatar {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 100%;
            }
        }
    }
}