.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    img {
        width: 20px;
        height: 20px;
    }
}

.adminCenter {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    img {
        width: 92px;
        height: 92px;
        border-radius: 100%;
    }
}

.text {
    display: flex;
    flex-direction: column;
}

.admin {
    display: flex;
    flex-direction: column;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    .data {
        display: flex;
        align-items: center;
        grid-gap: 16px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .adminCenter {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .admin {
        .nav {
            margin-bottom: 10px;
        }
        
        .data {
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}
