.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 14px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.indicatorsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 14px;
  margin-top: 16px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .helpersStat {
    @media (min-width: 1024px) {
      grid-column: span 2;
    }
  }
}

.interest {
  @media(min-width: 1024px) {
    grid-column: span 2;
  }
}

.views {
  @media(min-width: 1024px) {
    grid-column: span 2;
  }
}