.leads {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    .cols {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .text {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .result {
        display: flex;
    }

    .charts {
        margin: 10px 0 16px;
    }

    .block {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
    }

    .item {
        display: flex;
        grid-gap: 10px;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 100%;
        }

        .data {
            display: flex;
            flex-direction: column;
            grid-gap: 5px;
            width: 100%;
        }

        .redirect {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            margin-top: 5px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}