.wrapper {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--blue-100);

  &.blue {
    background-color: #f5f8fc;
  }

  &.white {
    background-color: #fff;
  }
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}
