.createPass {
    width: 460px;
    max-height: 740px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--mobile-default-border);
    color: var(--dark-gray);

    .box {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        margin: 24px 0 20px;
    }
}

@media screen and (max-width: 576px) {
    .createPass {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 24px !important;
        }

        .box {
            margin: 40px 0;
            grid-gap: 25px;
        }
    }
}