.sidebar {
    background-color: var(--white);
    padding: 16px;
    width: 50%;
    height: calc(100vh - 65px);
    border-right: 1px solid var(--blue-100);

    @media(max-width: 900px) {
        width: 40%;
    }

    .inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        height: calc(100vh - 82px);
        position: fixed;
        top: 62px;
        width: 100%;
        // display: flex;
    }
}
