.search {
    background-color: var(--white);
    padding: 10px;
    padding-left: 16px;
    border: 1px solid var(--system-light-grey);
    border-radius: var(--default-border);
    display: flex;
    align-items: center;
    grid-gap: 10px;

    input {
        height: 20px;
        width: 100%;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .btn {
        min-width: 35px;
        max-width: 35px;
        height: 35px;
        border-radius: 10px;
        background-color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .search {
        .btn {
            min-width: 46px;
            height: 40px;
            padding: 12px;

            img {
                width: 21px;
                height: 21px;
            }
        }
    }
}