.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  row-gap: 24px;
  margin-top: 16px;
  padding: 16px 0;
  border-top: 1px solid var(--blue-100);
  border-bottom: 1px solid var(--blue-100);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
