.map {
    width: 100vw;
    height: 100vh;

    .inner {
        display: flex;
        width: 100%;    
        position: absolute;
        grid-gap: 10px;
        top: 16px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        padding: 0 16px;
        
            .btn {
                background-color: var(--white);
                border-bottom-left-radius: var(--input-border);
                border-top-left-radius: var(--input-border);
                padding-left: 20px;
                display: flex;
                justify-content: center;
            }

        .box {
            display: flex;
            align-items: center;
            grid-gap: 10px;
        }
    }
}