.wrapper {
  padding-top: 86px;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.interest {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1;

  p {
    font-size: 15px;
  }

  span {
    font-size: 22px;
    color: #0064fa;
  }
}

.contentWrapper {
  background-color: #fff;
  width: 100%;
  margin-top: 100px;
  padding: 0 16px;
  padding-top: 75px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}

.progress {
  width: 200px; /* Ширина линии */
  height: 100px; /* Высота линии */
  border: 2px solid #000; /* Цвет и толщина линии */
  border-radius: 100px; /* Радиус, определяющий изгиб линии (должен быть равен половине высоты) */
  position: relative;
  overflow: hidden;
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%; /* Увеличиваем ширину для создания полукруглого эффекта */
  height: 100%;
  border-radius: 50%; /* Делаем псевдоэлемент полукруглым */
  background-color: #000; /* Цвет фона линии */
  transform: translateX(-50%); /* Сдвигаем на половину ширины элемента влево */
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
}

.contentHeaderList {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.contentHeaderItem {
  display: flex;
  align-items: center;
  gap: 6px;

  img {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-gray);
  }
}

.search {
  padding: 16px;
  padding-top: 0;
  padding-bottom: 12px;
}