.wrapper {
  padding-top: 86px;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // background-color: #fff;
}

.interest {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
}

.timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1;

  p {
    font-size: 15px;
  }

  span {
    font-size: 22px;
    color: #0064fa;
  }
}

.month__title__active {
  font-weight: 500;
  font-size: 14px;
  color: #0064FA;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  // margin: 10px;
}

.month__title {
  font-weight: 500;
  font-size: 14px;
  color: #7D7F82;
  text-overflow: ellipsis;
  // white-space: nowrap;
  overflow: hidden;
  // margin: 10px;


}

.arrows {
  display: flex;
  align-items: center;
  grid-gap: 16px;

  .prev,
  .next {
    cursor: pointer;

    img {
      width: 34px;
      height: 34px;
      object-fit: cover;
    }
  }
}

.slider__arrow {
  width: 12px;
  height: 18px;
  color: #7D7F82;
  margin-bottom: 10px;
}

.slider__block {
  justify-content: center;
  display: flex;
  align-items: center;
  // gap: 24px;
}

.month__border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.month__border__active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #0064FA;
  border-radius: 8px
}



.contentWrapper {
  // background-color: #fff;
  background-color: #f4f8ff;
  // width: 100vw;
  // margin-top: 100px;
  padding: 0px;
  padding-top: 75px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}

.progress {
  width: 200px;
  /* Ширина линии */
  height: 100px;
  /* Высота линии */
  border: 2px solid #000;
  /* Цвет и толщина линии */
  border-radius: 100px;
  /* Радиус, определяющий изгиб линии (должен быть равен половине высоты) */
  position: relative;
  overflow: hidden;
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 200%;
  /* Увеличиваем ширину для создания полукруглого эффекта */
  height: 100%;
  border-radius: 50%;
  /* Делаем псевдоэлемент полукруглым */
  background-color: #000;
  /* Цвет фона линии */
  transform: translateX(-50%);
  /* Сдвигаем на половину ширины элемента влево */
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
}

.contentHeaderList {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.contentHeaderItem {
  display: flex;
  align-items: center;
  gap: 6px;

  img {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-gray);
  }
}

.search {
  padding: 16px;
  padding-top: 0;
  padding-bottom: 12px;
}

.desktopWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .profileInfo {
    display: flex;
    align-items: center;
    gap: 16px;

    .avatarWrapper {
      position: relative;
      width: 80px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 50%;
      }

      .avatarEdit {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;

        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue-100);
        border: 1px solid #fff;
      }
    }

    .profileInfoMain {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        color: var(--gray);
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
