.box {
    display: flex;
    width: 100%;

    .btn {
        background-color: var(--white);
        cursor: unset;
        border: 1px solid var(--gray-200);
        padding-left: 20px;
        border-right: none;
        border-top-left-radius: var(--input-border);
        border-bottom-left-radius: var(--input-border);
    }

    input {
        border-color: var(--gray-200);
    }
}