.box {
    display: flex;
    width: 100%;
    border-radius: 15px;

    .btn {
        background-color: var(--white);
        border: 1px solid var(--blue-100);
        cursor: unset;
        padding-left: 20px;
        border-right: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    input {
        border-color: var(--gray-200);
    }
}