.link {
  border-radius: 12px;
  border: 1px solid (var(--blue-100));
  background-color: #e0edff;
  padding: 16px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;

    p {
      color: inherit;
    }

    svg {
      transform: translateY(5px);
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 30px;
    font-weight: 500;
  }
}
