.extra {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(38, 38, 38, 0.40);
    backdrop-filter: blur(30px);

    .block {
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0px);
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
            position: absolute;
            z-index: 101;
            bottom: 75px;
            width: 60px;
            height: 60px;
            background-color: var(--blue-300);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .extra {
        .block {
            .btn {
                width: 74px;
                height: 74px;

                img {
                    width: 36px;
                    height: 36px;    
                }
            }
        }
    }
}