.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .title {
      font-size: 12px;
      font-weight: 600;
    }

    .count {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
