.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 16px;
  border-radius: 12px;
  background-color: var(--white);
  color: var(--gray);
  width: 100%;
  transition: all 0.2s ease;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    color: var(--dark);
  }

  &:hover svg path {
    stroke: var(--dark);
  }

  &:first-child:hover svg path {
    stroke: var(--dark);
  }

  svg,
  img {
    min-width: 22px;
    width: 22px;
    height: 22px;
  }

  &:first-child svg path {
    stroke: var(--gray);
  }

  &.active {
    background-color: var(--blue);
    color: var(--white);

    svg path {
      stroke: var(--white);
    }

    svg g path {
      fill: var(--white);
    }

    &:hover svg path {
      stroke: white;
    }

    &:hover svg g path {
      fill: white;
    }
  }

  &.notOpenSidebar {
    width: 52px;
    height: 52px;

    span {
      width: 0;
      overflow: hidden;
    }
  }
}
